# vscode
.vscode/settings.json

# camera param
cfg/camera.toml

# protobuf
build/
zense_pb2.py
zense_pb2_grpc.py
protos/zense.grpc.pb.cc
protos/zense.grpc.pb.h
protos/zense.pb.cc
protos/zense.pb.h
scripts/zense_pb2.py
scripts/zense_pb2_grpc.py
zense_grpc_pywrapper.cpp
zense_grpc_pywrapper.cpython-36m-x86_64-linux-gnu.so
